$color-primary: #FFC430;
$color-font-white : #f2f2f2;
$white-color: #fff;
$color-text-primary: #323232;
$box-shadow: rgba(197, 197, 197, 0.66);
$linear-gradient1: rgba(255, 196, 48, 0.8);
$linear-gradient2:   rgba(255, 196, 48, 0.6);
$linear-gradient1-hover: rgba(189, 144, 33, 0.8);
$linear-gradient2-hover: rgba(189, 144, 33, 0.6);